<a href="https://colab.research.google.com/github/Madss24/IBM_AI_PROJECT/blob/main/AI_Phase3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Market Basket Insights Project**

# Project Introduction

This project aims to analyze market basket data. In this notebook, we will load and preprocess the dataset.

**Dataset :**

The dataset is stored in the file named "Assignment-1_Data.xlsx" located at "/kaggle/input/market-basket-analysis/". It contains information on market transactions.


# Loading the Dataset

Let's start by loading the dataset into a DataFrame using the pandas library.

**IMPORT NECESSARY LIBRARIES**

In [21]:
import numpy as np
import pandas as pd

**LOADING THE DATASET**

In [22]:
dataset_path = 'Assignment-1_Data.xlsx'
df = pd.read_excel(dataset_path)

# **Initial Exploration**

To gain a better understanding of the dataset's structure and characteristics, we will conduct an initial exploration.

In [23]:
print("Number of rows and columns:", df.shape)
print("\nData Types and Missing Values:")
print(df.info())
print("\nFirst few rows of the dataset:")
print(df.head())

Number of rows and columns: (522064, 7)

Data Types and Missing Values:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522064 entries, 0 to 522063
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   BillNo      522064 non-null  object
 1   Itemname    520609 non-null  object
 2   Quantity    522064 non-null  int64
 3   Date        522064 non-null  datetime64[ns]
 4   Price       522064 non-null  float64
 5   CustomerID  388023 non-null  float64
 6   Country     522064 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 27.9+ MB
None

First few rows of the dataset:
   BillNo                             Itemname  Quantity                Date  \
0  536365   WHITE HANGING HEART T-LIGHT HOLDER         6 2010-12-01 08:26:00
1  536365                  WHITE METAL LANTERN         6 2010-12-01 08:26:00
2  536365       CREAM CUPID HEARTS COAT HANGER         8 2010-12-01 08:26:00
3  536365  KNITTED UNION FLAG HOT WATER BOTTLE         6 2010-12-01 08:26:00
4  536365       RED WOOLLY HOTTIE WHITE HEART.         6 2010-12-01 08:26:00

   Price  CustomerID         Country
0   2.55     17850.0  United Kingdom
1   3.39     17850.0  United Kingdom
2   2.75     17850.0  United Kingdom
3   3.39     17850.0  United Kingdom
4   3.39     17850.0  United Kingdom

# **Preprocessing**

Now to prepare the data for analysis, we will perform preprocessing steps. This will ensure that the data is ready for further analysis.

**DROP ROWS WITH MISSING VALUES**

In [24]:
print("Missing Values:")
print(df.isnull().sum())
df.dropna(inplace=True)

Missing Values:
BillNo             0
Itemname        1455
Quantity           0
Date               0
Price              0
CustomerID    134041
Country            0
dtype: int64

**CONVERT DATAFRAME INTO TRANSACTION DATA**

In [25]:
transaction_data = df.groupby(['BillNo', 'Date'])['Itemname'].agg(', '.join).reset_index()

**DROP UNNECESSARY COLUMNS**

In [26]:
transaction_data = transaction_data.drop(['BillNo', 'Date'], axis=1)

**SAVING THE TRANSACTION DATA TO A CSV FILE**

In [27]:
transaction_data.to_csv('transaction_data.csv', index=False)

**DISPLAYING THE TRANSACTION DATA**

In [29]:
print("\nTransaction Data:")
print(transaction_data.head())

Transaction Data:
                                            Itemname
0  WHITE HANGING HEART T-LIGHT HOLDER, WHITE META...
1  HAND WARMER UNION JACK, HAND WARMER RED POLKA DOT
2  ASSORTED COLOUR BIRD ORNAMENT, POPPY'S PLAYHOU...
3  JAM MAKING SET WITH JARS, RED COAT RACK PARIS ...
4                           BATH BUILDING BLOCK WORD